mixin gallery()
  .gallery
    -
      const GALLERY_ITEMS = [
        ['Вишневый сад', 16],
        ['Беседки', 7],
        ['Раздоры', 6],
        ['Школа экономики', 5],
      ];
      const GALLERY_MEDIA_SET = [['xxl', 624], ['lg', 410], 290];
    ul.gallery__list
      each item, i in GALLERY_ITEMS
        -
          const number = i + 1;
          const [caption, amount] = item;
        li(class=[
          setModifiers('gallery-item', [number]),
          setModifiers('gallery__item', [number]),
          setLastModifier('gallery__item', GALLERY_ITEMS, number, false),
        ])
          .gallery-item__container
            div(class=setModifiers('gallery-item__box', ['pictures']))
              - for (let j = 1; j <= amount; j += 1)
                .gallery-item__wrapper
                  a.gallery-item__link(
                    href=`img/gallery-item--${number}__image-${j}@624.jpg`,
                    data-lightbox=`gallery-item-${number}`,
                  )
                  +gallery-item__box--picture({
                    alt: caption,
                    path: `gallery-item--${number}__image-${j}`,
                    mediaSet: GALLERY_MEDIA_SET,
                  })
            p.gallery-item__caption
              time.gallery-item__time(datetime='2018-02-13') 13.02.2018
              span.s-text.gallery-item__legend= caption
          //- .gallery-item__popups
          //-   - for (let j = 1; j <= amount; j += 1)
          //-     a(
          //-       href=`img/gallery-item--${number}__image-${j}@624.jpg`,
          //-       data-lightbox=`gallery-item-${number}`,
          //-       data-title=caption,
          //-       data-alt=caption,
          //-     )
