head
  meta(charset='utf-8')
  title #{pageTitle} | #{SITE_TITLE}
  include _head_general_meta
  include _head_favicons
  include _head_fonts
  if pageId === 'gallery'
    link(
      rel='preload',
      href='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js',
      as='script',
    )
    link(rel='preload', href='js/slick.js', as='script')
  if pageId === 'contacts'
    link(
      rel='preload',
      href='https://api-maps.yandex.ru/2.1/?apikey=ccb82d7c-0ab4-4b31-b2d1-f7884591ed14&lang=ru_RU',
      as='script',
    )
  link(rel='stylesheet', href='css/main.min.css')
