extends ../base/_template_page-main--inner.pug

block page-id
  - const pageId = 'contacts';

block head_Scripts
  link(
    rel='preload',
    href='https://api-maps.yandex.ru/2.1/?apikey=ccb82d7c-0ab4-4b31-b2d1-f7884591ed14&lang=ru_RU',
    as='script',
  )

block page-main__mutable
  .contacts
    - const CONTACTS_EMAILS = ['info', 'snab'];
    .contacts__container
      div(class=setModifiers('contacts__nest', ['tel']))
        +tel()(modifier='large')
      div(class=setModifiers('contacts__nest', ['emails']))
        each email, index in CONTACTS_EMAILS
          a.contacts__email(href=`mailto:${email}@roofsystem.ru`)
            | #[span.contacts__string #{email}]@roofsystem.ru
      div(class=setModifiers('contacts__nest', ['address']))
        p.s-text.contacts__address
          | 123060, г. Москва#[br]ул. Маршала Бирюзова, 35#[br]кор. 2, 1Б
      div(class=setModifiers('contacts__nest', ['map']))
        .contacts__map#map

block page_Scripts-distinct
  script(
    src='https://api-maps.yandex.ru/2.1/?apikey=ccb82d7c-0ab4-4b31-b2d1-f7884591ed14&lang=ru_RU',
    type='text/javascript',
  )
  script(src='js/_contacts__map.js')
