extends ../base/_template_page-main--inner

block page-id
  - const pageId = 'gallery';

block head_Scripts
  link(
    rel='preload',
    href='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js',
    as='script',
  )
  link(rel='preload', href='js/slick.js', as='script')
  // test comment
block page-main__mutable
  .gallery
    -
      const GALLERY_IMAGE_LEGEND = 'Коттеджный поселок “Люто дорого”';
      const GALLERY_PICTURE_AMOUNTS = [16, 7, 6, 5];
    ul.gallery__list
      each item, i in GALLERY_PICTURE_AMOUNTS
        -
          const number = i + 1;
          const amount = GALLERY_PICTURE_AMOUNTS[i];
        li(class=[
          setModifiers('gallery-item', [number]),
          setModifiers('gallery__item', [number]),
          setLastModifier('gallery__item', GALLERY_PICTURE_AMOUNTS, number, false),
        ])
          .gallery-item__container
            div(class=setModifiers('gallery-item__box', ['pictures']))
              - for (let j = 1; j <= amount; j += 1)
                .gallery-item__wrapper
                  picture(class=setModifiers('gallery-item__box', ['picture']))
                    img.gallery-item__image(
                      src=`img/gallery-item--${number}__image-${j}.jpg`,
                      alt=GALLERY_IMAGE_LEGEND,
                    )
            p.gallery-item__caption
              time.gallery-item__time(datetime='2018-02-13') 13.02.2018
              span.s-text.gallery-item__legend= GALLERY_IMAGE_LEGEND

block page_Scripts-distinct
  script.
    'use strict';
    window.jQuery || document.write('<script src="js/jquery-3.3.1.js"><\/script>');
  script(src='js/slick.js')
  script(src='js/_gallery-item.js')
