extends ../base/_template_html

block page-id
  - const pageId = 'index';

block page-main_CONTENT
  - const INTRO_SLIDES = [['кровли', 'первый', 'новой'], ['фасада', 'второй', 'нового']];
  each slide, i in INTRO_SLIDES
    -
      const number = i + 1;
      const [product, numeral, adjective] = slide;
    +page-main__wrapper(product)(modifier=number)
      .intro
        .intro__container
          div(class=setModifiers('intro__nest', ['paginator']))
            .intro__paginator
              each modifier, j in ['current', 'another']
                span(
                  class=setModifiers('intro__number', [modifier]),
                  role='presentation',
                  aria-hidden='true',
                )= (number === 1 ? j + 1 : 2 - j)
              .intro__bar
                button.intro__toggle(
                  type='button',
                  aria-label=`Перейти на ${numeral} слайд`,
                )
          div(class=setModifiers('intro__nest', ['content']))
            p.s-text.intro__description Монтаж #{product} – это сложный многоэтапный процесс, выполнение которого предполагает наличие определенных навыков. Полная замена или установка #{adjective} #{product} обходится в приличную сумму денег, занимает большое количество времени.
