extends ../base/_template_html.pug

block page-id
  - const pageId = 'index';

block page-main_Content
  -
    const INTRO_SLIDES = [
      ['кровли', 'первый', 'новой'],
      ['фасада', 'второй', 'нового'],
    ];
  each slide, i in INTRO_SLIDES
    -
      const number = i + 1;
      const [product, numeral, adjective] = slide;
    +page-main__wrapper(product)(modifier=number)
      .intro
        .intro__container
          div(class=setModifiers('intro__nest', ['paginator']))
            .intro__paginator
              -
                const _PAGINATOR_BUTTONS = [
                  ['roof', 'Кровля',],
                  ['front', 'Фасад',],
                ];
              each item, j in _PAGINATOR_BUTTONS
                - const [modifier, legend] = item;
                button(
                  class=[
                    setModifiers('intro__button', [modifier]),
                    `intro__button--${j === i ? 'current' : 'non-current'}`,
                  ],
                  type='button',
                  disabled=(j === i ? true : false),
                )= legend
          div(class=setModifiers('intro__nest', ['content']))
            p.s-text.intro__description Монтаж #{product} – это сложный многоэтапный процесс, выполнение которого предполагает наличие определенных навыков. Полная замена или установка #{adjective} #{product} обходится в приличную сумму денег, занимает большое количество времени.

block page_Scripts-distinct
  script(src='js/intro.js')
