extends ../base/_template_page-main--inner

block page-id
  - const pageId = 'price';

block page-main__mutable
  .price
    -
      const PRICE_UNIT = 'руб/м²';
      const PRICE_ITEMS = [
        [
          'Конструкция пирога кровли',
          [
            ['Монтаж стропильной системы', 750],
            ['Монтаж паро, гидроизоляционной пленки', 200],
            ['Монтаж обрешетки', 200],
            ['Утепление 200 мм', 300],
            ['Монтаж фанеры (ОСП)', 300],
          ],
        ],
        [
          'Кровельное покрытие',
          [
            ['Монтаж фальцевой кровли', 800],
            ['Монтаж металлочерепицы', 600],
            ['Монтаж черепицы (керамическая, бетонная)', 900],
            ['Монтаж битумной черепицы', 700],
          ],
        ],
        [
          'Плоские кровли',
          [
            ['Монтаж наплавляемой гидроизоляции', 150],
            ['Монтаж ПВХ мембраны', 300],
            ['Монтаж гидроизроляции Resitrix', 350],
          ],
        ],
      ];
    .price__container
      p.price__headline
        span.price__string-wrapper
          = 'от '
          span(class=setModifiers('price__string', ['colored'])) 900
          = ` ${PRICE_UNIT} `
        span(class=setModifiers('price__string', ['small'])) (под ключ)
        ul.price__items
          each item, i in PRICE_ITEMS
            - const [caption, list] = item;
            li(class=setLastModifier('price__item', PRICE_ITEMS, i + 1))
              h2.price__caption= caption
              dl.price__list
                each set, j in list
                  - const [term, price] = set;
                  dt(class=[
                    setModifiers('price__entry', ['key']),
                    (j % 2 === 0 ? 'price__entry--stroked' : null),
                  ])
                    = term
                  dd(class=setModifiers('price__entry', ['value']))
                    = `${price} ${PRICE_UNIT}`
