-
  const FONT_SETS = {
    'pt_sans': {
      weightSizes: [400, 700,],
      styleNames: ['normal'],
    },
  };

each value, key in FONT_SETS
  each weightValue in value.weightSizes
    each styleValue in value.styleNames
      link(
        rel='preload',
        href=`fonts/${key}-${weightValue}-${styleValue}.woff2`,
        as='font',
        crossorigin='anonymous',
      )
