.page-header.container
  .s-container.page-header__container.row.no-gutters
    div(class=setModifiers('page-header__nest', ['logo'])).col-3.col-lg-2
      .logo
        a.logo__link(href=(pageId !== 'index' ? 'index.html' : null))
          img.logo__image(
            src='img/logo.svg',
            width='50',
            height='32',
            alt=$SITE_TITLE
          )
    nav(class=[
      setModifiers('page-header__nest', ['navigation']),
      'col-9',
      'col-sm-10',
      'col-lg-7',
    ])
      .navigation
        ul.navigation__list
          each label, id in $PAGES
            - const isCurrent = (id === pageId);
            li(class=[
              'navigation-item',
              id === 'contacts' ? 'navigation-item--last' : null,
              isCurrent ? 'navigation-item--current' : null,
              'navigation__item',
            ]): a.navigation-item__link(href=(!isCurrent ? `${id}.html` : null))= label
    div(class=[
      setModifiers('page-header__nest', ['tel']),
      'col-6',
      'col-sm-7',
      'col-lg-3',
    ])
      +tel()(modifier='small')
    div(class=[setModifiers('page-header__nest', ['button']), 'col-3', 'col-sm-2'])
      .navigation-control
        -
          const NAVIGATION_CONTROL_BUTTONS = [
            ['opener', 'Показать'],
            ['closer', 'Скрыть'],
          ];
        each button in NAVIGATION_CONTROL_BUTTONS
          - const [modifier, legend] = button;
            button(
              class=[
                setModifiers('navigation-button', [modifier]), 'navigation-control__button',
              ],
              type='button',
              aria-label=`${legend} главное меню`,
            )
              if modifier === 'opener'
                span.navigation-button__wrapper
                  each line in ['top', 'center', 'bottom']
                    span(
                      class=setModifiers('navigation-button__line', [line]),
                      aria-hidden='true',
                      role='presentation',
                    )
