div(class=setModifiers('page-header', [pageId])).container
  .s-container.page-header__container.row
    div(class=setModifiers('page-header__nest', ['logo'])).col-3
      .logo
        a.logo__link(href=(pageId !== 'index' ? 'index.html' : null))
          img.logo__image(src='img/logo.svg', width='88', height='57', alt=SITE_TITLE)
    nav(class=setModifiers('page-header__nest', ['navigation']))
      .navigation
        ul.navigation__list
          each label, id in PAGES
            - const isCurrent = (id === pageId);
            li(class=[
              'navigation-item',
              isCurrent ? 'navigation-item--current' : null,
              'navigation__item',
            ]): a.navigation-item__link(href=(!isCurrent ? `${id}.html` : null))= label
    div(class=setModifiers('page-header__nest', ['tel'])).col-7
      +tel()(modifier='small')
    .navigation-control.col-2
      -
        const NAVIGATION_CONTROL_BUTTONS = [
          ['opener', 'Показать'],
          ['closer', 'Скрыть'],
        ];
      each button in NAVIGATION_CONTROL_BUTTONS
       - const [modifier, legend] = button;
        button(
          class=setModifiers('navigation-control__button', [modifier]),
          aria-label=`${legend} главное меню`,
        )
