div(class=setModifiers('page-header', [pageId]))
  .s-container.page-header__container
    div(class=setModifiers('page-header__nest', ['logo']))
      .logo
        a.logo__link(href=(pageId !== 'index' ? 'index.html' : null))
          img.logo__image(src='img/logo.svg', width='88', height='57', alt=SITE_TITLE)
    nav(class=setModifiers('page-header__nest', ['navigation']))
      .navigation
        ul.navigation__list
          each label, id in PAGES
            - const isCurrent = (id === pageId);
            li(class=[
              'navigation-item',
              isCurrent ? 'navigation-item--active' : null,
              'navigation__item',
            ]): a.navigation-item__link(href=(!isCurrent ? `${id}.html` : null))= label
    div(class=setModifiers('page-header__nest', ['tel']))
      .tel
        a.tel__link(href=_TEL)= _TEL_TEXT
