include ../global/data/_d_common

block page-id

- const pageTitle = PAGES[pageId];

include _import_functions
include _import_mixins

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{pageTitle} | #{SITE_TITLE}
    include ../global/head/_head_general_meta
    include ../global/head/_head_favicons
    include ../global/head/_head_fonts
    link(rel='stylesheet', href='css/main.min.css')
  body(class=setModifiers('page', [pageId]))
    .page__container
      header.page__header
        include ../components/capital/_page-header/_page-header
      main.page__main
        div(class=setModifiers('page-main', [pageId]))
          .s-container.page-main__container
            .page-main__stable
              +titlebar()
            .page-main__mutable
              block page-main__mutable
      footer.page__footer
        .page-footer
          .s-container.page-footer__container
            div(class=setModifiers('page-footer__nest', ['copyright']))
              p.page-footer__paragraph © 2018 Roofsystem. Все права защищены.
            div(class=setModifiers('page-footer__nest', ['creator']))
              a.page-footer__link(href='https://www.waytostart.ru/')
                p.page-footer__paragraph
                  | Создание сайта #[span.page-footer__string WayToStart]
    script(src='js/picturefill.js')
