mixin page-main__wrapper(productName)
  -
    const isIndex = (pageId === 'index');
    const modifierClassname = isIndex ? `page-main__wrapper--${attributes.modifier}` : null;
  .page-main__wrapper(class=modifierClassname).container
    .s-container.page-main__container.row
      .page-main__stable.col-12
        div(class=[
          setModifiers('titlebar', [isIndex ? 'inner' : 'inner']),
          ['gallery', 'price'].includes(pageId) ? 'titlebar--narrow-xl' : null,
        ])
          if isIndex
            h1.titlebar__heading= SITE_TITLE
            .titlebar__lead-wrapper
              p.titlebar__lead Устройство, монтаж и ремонт #{productName}
          else
            h1.titlebar__lead= pageTitle
          +titlebar__links()
      .page-main__mutable.col-12
        block
