mixin page-main__wrapper()
  -
    const { 'product-name': productName=null, modifier=null } = attributes;
    const isIndex = (pageId === 'index');
    const modifierClassname = isIndex ? `page-main__wrapper--${modifier}` : null;
  .container.page-main__wrapper(class=modifierClassname)
    .s-container.page-main__container.row
      .page-main__stable.col-12
        div(class=setModifiers('titlebar', [isIndex ? 'inner' : 'inner']))
          if isIndex
            h1.titlebar__heading= $SITE_TITLE
            .titlebar__lead-wrapper
              p.titlebar__lead Устройство, монтаж и ремонт #{productName}
            if modifier === 1
              +price-review()
          else
            h1.titlebar__lead= $pageTitle
            +paginator()
          if pageId === 'price'
            .titlebar__preview
              +service-preview()
      .page-main__mutable.col-12
        block
